@import '@fortawesome/fontawesome-free/css/all.css';

:host {
	display: block;
}

.weatherContainer {
	font-family: 'Forum', serif;
	color: white;
	min-width: 300px;
	max-width: 500px;
	height: auto;
	background: rgb(70, 205, 252);
	background: radial-gradient(circle, rgba(70, 205, 252, 1) 0%, rgba(44, 73, 222, 1) 100%);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.todayForecastContainer {
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.cityContainer {
		font-size: 130%;
		font-weight: bold;
		letter-spacing: 2px;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: normal;
		align-items: baseline;

		.cityText {
			padding-right: 5px;
		}

		.refreshUserLocationButton {
			background: transparent;
			border: transparent;
			height: 20px;
			width: 20px;
		}
	}

	.degreesContainer {
		font-size: 250%;
		letter-spacing: 5px;
	}
}

.futureForecastContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.headerContainerInfo,
.footerContainerInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dayOfWeekContainer {
	font-size: 120%;
	font-weight: bold;
	letter-spacing: 2px;
}

.forecastDetailsContainer {
	padding-top: 10px;
	font-size: 100%;
}


.verticalWeatherCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 14%;
	padding: 15px 5px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.2);

	.futureForecastImage {
		width: 50%;
		height: auto;
		margin-bottom: 5px;
	}

	.futureForecastTemperature {
		margin-top: 5px;
	}
}

.todayForecastImageContainer {
	display: flex;
	flex-direction: row;
	height: auto;
	align-items: center;

	.todayForecastImage {
		height: 48px;
		width: 48px;
		margin-left: 10px;
	}

	.todayForecastDescription {
		font-size: 140%;
		font-weight: bold;
	}
}

i {
	margin-right: 5px;
}

.errorsContainer,
.loadingSpinnerContainer {
	font-family: 'Forum', serif;
	width: 300px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadingSpinnerContainer {
	color: #10149e;
	flex-direction: row;

	span {
		font-weight: bold;
		font-size: 150%;
		margin-right: 10px;
	}
}

.errorsContainer {
	flex-direction: column;
	font-weight: bold;
	font-size: 130%;
	color: red;
}

@media only screen and (max-width: 400px) {
	.verticalWeatherCard {
		font-size: 90%;

		.futureForecastImage {
			width: 60%;
		}
	}
}


